body {
  font-family: 'Roboto', sans-serif;
  background-color: #ecf0f1;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
