.Toastify__toast--default {
    position: relative; 
    border: 1px solid transparent; 
    transition: border-bottom 0.3s ease;
  }
  
  .Toastify__toast--default:hover {
    border-bottom: 2px solid #007bff;
    background-color: #f8f9fa; 
  }
  /* Slider.css */
.slider-container {
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
